<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3657138E1D7EE98200FE6F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>365713A31D7EE98200FE6F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36D6331C1D82F02D00D80B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
